.button {
  display: inline-block;
  width: 15.625rem;
  height: 3.75rem;
  margin-top: 2em;
  padding: 1.2rem;
  border: 2px solid $black;
  border-radius: 3px;
  background: $black;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: $white;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  vertical-align: middle;

  &:hover,
  &:focus {
    background: $white;
    color: $black;
  }

  &.button-small {
    width: (150/16) * 1rem;
    height: (40/16) * 1rem;
    padding: 0.5em;
  }

  &.button-wide {
    width: 19.0625rem;
  }

  &.button-outline {
    background: $white;
    color: $black;

    &:hover,
    &:focus {
      background: $black;
      color: $white;
    }
  }

  &.button-primary {
    border-color: var(--brand-primary, $brand-primary);
    background: var(--brand-primary, $brand-primary);

    &:hover,
    &:focus {
      background: $white;
      color: var(--brand-primary, $brand-primary);
    }

    &.button-outline {
      background: $white;
      color: var(--brand-primary, $brand-primary);

      &:hover,
      &:focus {
        color: $white;
        background: var(--brand-primary, $brand-primary);
      }
    }
  }

  &.button-secondary {
    border-color: var(--brand-secondary, $brand-secondary);
    background: var(--brand-secondary, $brand-secondary);

    &:hover,
    &:focus {
      background: $white;
      color: var(--brand-secondary, $brand-secondary);
    }

    &.button-outline {
      background: $white;
      color: var(--brand-secondary, $brand-secondary);

      &:hover,
      &:focus {
        color: $white;
        background: var(--brand-secondary, $brand-secondary);
      }
    }
  }
}

@media (min-width: $medium) {
  .button {
    width: 275px;
  }
}
