label {
  margin-bottom: 1rem;
}

textarea {
  height: 7.5em;
  resize: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  flex-grow: 1;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: solid 2px $black;
  padding: 0 0 1em;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: $font-family-sans-serif;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
    border-bottom: solid 2px var(--accent, $brand-accent);
  }
}

input[type="submit"] {
  cursor: pointer;
}

.form {
  width: rem(354);

  ::placeholder {
    color: $black;
  }

  &__notice {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: $font-family-sans-serif;

    &--error {
      color: $dark-red;
    }

    &--success {
      color: $dark-green;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    &--error > input[type="text"],
    &--error > input[type="email"],
    &--error > textarea {
      border-bottom: solid 2px $dark-red;
    }

    &--error > ::placeholder {
      color: $dark-red;
    }

    &:last-child {
      margin-top: rem(48);
    }
  }
}

// Contact form

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: rem(65) 0 rem(120);
  background: #f6f6f6;

  h2 {
    font-size: rem(24);
    margin-bottom: rem(40);
  }
}
