// PB Colour Palette
$pb-red: #bb2026;
$dark-blue: #00243a;
$grey-blue: #d0edf0;
$light-grey-blue: #f0f9fa;
$light-blue: #f6fbfc;

// Utility Colours
$black: #000;
$dark-grey: #333;
$light-blue-grey: #f3f7fa;
$white: #fff;

$error-red: #ff3b3b;
$valid-green: #2ed0ac;
$warning-yellow: #ffd943;
$disabled-grey: #c6c6c6;

// Fonts
$big-font-size: 1.8rem;
$medium-font-size: 1.4rem;
$small-font-size: 1rem;
$tiny-font-size: 0.8rem;
