// @import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~aetna/assets/styles/aetna.scss";

/** Import theme styles */
// @import "common/global";
// @import "components/comments";
// @import "components/forms";
// @import "components/grid";
// @import "components/wp-classes";
@import "layouts/header";
// @import "layouts/sidebar";
// @import "layouts/footer";
// @import "layouts/pages";
// @import "layouts/posts";
// @import "layouts/tinymce";
