@import '~aetna/assets/styles/common/_variables.scss';
@import '~aetna/assets/styles/common/_global.scss';

#tinymce.wp-editor {
  @import '~aetna/assets/styles/components/_buttons.scss';
  @import '~aetna/assets/styles/layouts/_blocks.scss';
}
