.home {
  .block {
    h3 {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 36px;
      margin: 0;

      &::before {
        display: block;
        width: 46px;
        height: 5px;
        color: $brand-primary;
      }
    }
  }
}
