.home {
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 445px;
    background-color: $white;

    h3 {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 36px;
      margin: 0;

      &::before {
        content: "";
        display: block;
        margin: 0 auto 1em;
        width: 46px;
        height: 5px;
        background-color: $brand-secondary;
      }
    }

    p {
      font-size: 16px;
      line-height: 32px;
    }

    .inside {
      width: 100%;
    }
  }

  .one-two {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .block.two {
    color: $white;
    background: $brand-secondary;

    h3::before {
      background-color: $white;
    }
  }

  .block.one,
  .block.two,
  .block.three,
  .block.four,
  .block.five {
    padding: 0 12.5px;
  }
}

@media (min-width: $medium) {
  .home {
    .wrap {
      margin-top: -366px;
    }

    .block {
      width: 775px;
      margin-bottom: 119px;
      box-shadow: -3px 5px 4px 2px rgba(135, 135, 135, 0.09);

      h3 {
        font-size: 48px;
        line-height: 56px;

        &::before {
          width: 74px;
        }
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }

      .inside {
        width: 595px;
      }
    }

    .one-two {
      align-items: center;
    }
  }
}

@media (min-width: $large) {
  .home {
    .block {
      width: 1115px;
      height: 494px;
    }
  }
}

@media (min-width: $extra-large) {
  .home {
    .one-two {
      flex-direction: row;
      justify-content: space-between;
      width: 1615px;
    }

    .block.one,
    .block.two {
      border-radius: 4px;
      width: 775px;

      .inside {
        width: 595px;
      }
    }

    .block.three {
      width: 100%;
    }

    .block.four {
      width: 1115px;
      box-shadow: -3px 5px 4px 2px rgba(135, 135, 135, 0.09);
    }
  }
}
