* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-serif;
  font-size: #{$base-font-size}px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
}

h1 {
  font-size: em(30);
  font-weight: 600;
  letter-spacing: em(2);
  line-height: (36/30);
  margin: 0;
}

h2 {
  font-size: em(16);
  font-weight: normal;
  line-height: (30/16);
  margin: 0;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

.primary {
  color: $brand-primary;
}

.bg-primary {
  background-color: $brand-primary;
}

.b--primary {
  border-color: $brand-primary;
}

.secondary {
  color: $brand-secondary;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.b--secondary {
  border-color: $brand-secondary;
}
