body {
  color: $dark-grey;
  font-family: Spectral, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Karla, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 36px;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  margin: 0;
}

a {
  color: $brand-primary;
}
