// TODO
.footer__network {
  --primary: --accent-fg;
}

.footer__pressbooks__social {
  align-items: center;
  display: flex;
  margin: 0 1rem;

  a {
    margin: 0 0.25em;

    > .icon--svg {
      height: rem(32);
      width: rem(32);
    }

    > .youtube-link{
      height: 2.2em;
      width: auto;
      padding-bottom: .6em;
      margin-right: .2em;
    }

    @media (min-width: $medium) {
      > .icon--svg {
        height: rem(24);
        width: rem(24);
      }

      > .youtube-link{
        height: 1.9em;
        width: auto;
        padding-bottom: .7em;
        margin-right: .2em;
      }
    }
  }
}
