.header {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .header {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;

  @media #{$breakpoint-large} {
    height: 880px;
  }
}

.home #content {
  margin-top: -540px;
  background: transparent;

  @media #{$breakpoint-large} {
    margin-top: -880px;
  }
}

.home .entry-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 540px;

  @media #{$breakpoint-large} {
    height: 300px;
    margin: 120px 0;
  }

  .entry-title {
    font-family: $font-family-sans-serif;
    font-size: 1.875rem;
    @media #{$breakpoint-large} {
      font-size: 4.5rem;
    }
    margin-bottom: 0;
    text-align: center;
    max-width: 100%;
  }

  .entry-description {
    font-family: $font-family-sans-serif;
    font-size: 1.125rem;
    margin-bottom: 0;
    text-align: center;
    max-width: 100%;
  }
}

.page .header {
  height: 560px;

  @media #{$breakpoint-large} {
    height: 880px;
  }
}

.page.catalog .header {
  height: 381px;

  @media #{$breakpoint-large} {
    height: 450px;
  }
}
