.home #content {
  width: 100%;

  @media #{$breakpoint-extra-large} {
    max-width: 1440px;
  }
}

.latest-books {
  margin: 4rem 0 8rem;

  .slider {
    width: 100%;
    max-width: 22.9375rem;
    margin: 0 auto;
    position: relative;
  }

  .books {
    position: relative;
    display: flex;
    width: calc(100% - 4rem);
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    z-index: 99;
  }

  .booknav {
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 28.0625rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .previous,
  .next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: rem(25);
    height: 100%;
    margin-top: 0;

    svg {
      width: rem(25);
      height: rem(25);
      margin-top: 0;

      path {
        fill: var(--primary);
      }
    }
  }

  .previous {
    left: 0;
  }

  .next {
    right: 0;
  }

  @media #{$breakpoint-large} {
    .slider {
      width: calc(100vw - 5.125rem);
      max-width: 75rem;
    }

    .books {
      flex-direction: row;
      justify-content: center;

      .book, .featured_book {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }

    .booknav {
      width: calc(100% + 4rem);
      max-width: 100vw;
      left: -2rem;
    }

    .previous,
    .next {
      width: rem(32);

      svg {
        width: rem(32);
        height: rem(32);
      }
    }
  }

  .catalog-link {
    text-align: center;
  }
}
