.wp-activate-container,
.mu_register.wp-signup-container {
   @extend .page-section;

   margin: rem(120) auto 4rem;

   * {
     text-align: left;
   }

   h2 {
     text-align: center;
     order: -1;
   }

   .mu_alert {
    margin-bottom: 2rem;
  }

  form {
    margin-top: 0;
  }

  input:not([type="submit"]) {
    padding: 0;
  }

  .checkbox {
    margin-right: 1em;
  }

  .submit {
    text-align: center;
  }

  [type="submit"] {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }

  ol,
  ul {
    list-style-position: outside;
  }

  span.h3 {
    padding: 0;
    font-size: 1rem;
  }
}
